---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import { getPosts, getPostsGroupedByCategory } from "../utils/sanity";
import "../styles/global.css";
import SliderSection from "../sections/SliderSection.astro";
import { urlFor } from "../utils/image";
import { PlusCircle } from "@lucide/astro";

const posts = await getPosts();
const categoriesWithPosts = await getPostsGroupedByCategory();
---

<Layout title="Los olvidos de Cronos - Blog personal de Roman Ganuza">
  <SliderSection />
  <br />
  {
    categoriesWithPosts.map((category) => (
      <section class="px-4 lg:px-2 xl:px-0 ">
        <a class="flex items-center gap-2 text-primary hover:text-highlight-gold transition" href={`/categoria/${category.slug.current}`}>
          <h2 class="text-3xl font-bold pb-2 mt-16">
            {category.title}
          </h2>
          <PlusCircle class="mt-16 w-6 h-6 " />
        </a>

        <div class="w-full h-1 bg-highlight-gold" />
        <div class="w-full h-1 bg-highlight-white" />
        <div class="w-full mb-4 h-1 bg-highlight-red" />
        <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
          {category.posts.map((post) => (
            <article class="border rounded shadow hover:shadow-md transition bg-primary ">
              <a href={`/post/${post.slug.current}`}>
                {post.mainImage ? (
                  <img
                    class=""
                    src={urlFor(post.mainImage).width(500).height(300).url()}
                    alt={post.mainImage.alt || ""}
                  />
                ) : (
                  <div class="" />
                )}
                <div class="p-4">
                  <h3 class="text-lg text-highlight-white font-semibold pb-4 pt-2">
                    {post.title}
                  </h3>
                  <p class="text-sm text-highlight-gold pb-2">{post.excerpt}</p>
                </div>
              </a>
            </article>
          ))}
        </div>
      </section>
    ))
  }
</Layout>
