---
import type { InferGetStaticParamsType } from "astro";
import { PortableText } from "astro-portabletext"
import Layout from "../../layouts/Layout.astro"
import { formatDate } from "../../utils";
import { urlFor } from "../../utils/image";
import { getPost, getPosts } from "../../utils/sanity";

export const prerender = true;

export async function getStaticPaths() {
    const posts = await getPosts()

    return posts.map((post) => ({
        params: {slug: post.slug.current},
    }))
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
const { slug } = Astro.params as Params;

const post = await getPost(slug);
---

<Layout title={post.title!}>
  <section class="flex flex-col max-w-[750px] px-4 m-auto my-24 md:my-16">
    {
      post.mainImage ? (
        <img
          class="w-full h-[200px] object-cover md:w-[750px] md:h-[380px]"
          src={urlFor(post.mainImage).url()}
          alt="Cover image"
        />
      ) : (
        <div class="w-full h-[200px] bg-black md:w-[750px] md:h-[380px]" />
      )
    }
    <div class="px-4">
      <h2 class="font-sans text-3xl md:text-5xl leading-tight md:leading-tight font-extrabold my-6 md:mt-16 md:mb-0 tracking-tight">
        {post.title}
      </h2>
      <p class="font-serif text-xl md:text-2xl leading-relaxed font-normal mt-0 mb-6">
        {post.excerpt}
      </p>
      <p class="font-sans font-semibold text-sm md:text-lg leading-snug mt-4 md:mt-0">
        {formatDate(post._createdAt)}
      </p>
      <div class="font-serif font-normal text-lg md:text-xl leading-relaxed tracking-tight mt-10 md:mt-16 prose prose-a:text-blue-600 prose-blockquote:border-l-4 prose-blockquote:border-black prose-blockquote:pl-4 prose-blockquote:ml-6">
        <PortableText value={post.body} />
      </div>
    </div>
  </section>
</Layout>
